@inherits CommonPageBase
@page "/examples"
@layout ExampleLayout
<h1>@Title</h1>
<p>This example shows what the grid looks like with the minimum amount of configuration.</p>
<p>For the purpose of this demo, all of the data is pulled from a static JSON file. Paging is handled by a custom provider which I wrote just for this demo.</p>
<p>The captions of the columns are based on the <code>DisplayAttributes</code> of the <code>Employee</code> (row) class.</p>

  
      
        <BlazorGrid TRow="Employee" Provider="Provider.GetAsync<Employee>" style="max-height: 340px;">
            <GridCol For="() => context.Id" scope="row"/>
            <GridCol For="() => context.FirstName"/>
            <GridCol For="() => context.LastName"/>
            <GridCol For="() => context.Email">
                <a href="mailto:@context.Email">@context.Email</a>
            </GridCol>
        </BlazorGrid>

@code
{
    protected override string Title => "Basic grid";
}