@typeparam T
@implements IGridCol<T>
@inherits ColBase
@if (Register == null)
{
    <td @attributes="FinalAttributes">
        @if (ChildContent == null)
        {
            @GetAutoValue()
        }
        else
        {
            @ChildContent
        }
    </td>
}